.box {
    width: 200px;
    height: 100px;
    border: 2px solid rgb(0, 94, 255);
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}